
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  border: thin solid black;
  padding: 3rem;
  margin: 3rem;
  display: contents;
}

.formtext {
  position: relative;
  background: white;
  padding: 0px;
  width: 350px;
  color: black;
}